.table-container {
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  grid-area: 2 / 1 / 3/ 2;
  background-color: #bbb9bb5a;
}

.table-title {
  color: #7b0dcf;
  font-family: "Open Sans";
  margin-bottom: 1%;
  justify-content: center;
  flex: 2;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-transactions-btn {
  margin-bottom: 1%;
  font-size: 90%;
  width: 15%;
  height: 40%;
  color: #fff3e2;
  font-family: "Open Sans", sans-serif;
  background-color: #7b0dcf;
  border-radius: 100px;
  box-shadow:
    #7b0dcf33 0 -25px 18px -14px inset,
    #7b0dcf26 0 1px 2px,
    #7b0dcf26 0 2px 4px,
    #7b0dcf26 0 4px 8px,
    #7b0dcf26 0 8px 16px,
    #7b0dcf26 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  font-family:
    CerebriSans-Regular,
    -apple-system,
    system-ui,
    Roboto,
    sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all-transactions-btn:hover {
  box-shadow:
    #7b0dcf59 0 -25px 18px -14px inset,
    #7b0dcf40 0 1px 2px,
    #7b0dcf40 0 2px 4px,
    #7b0dcf40 0 4px 8px,
    #7b0dcf40 0 8px 16px,
    #7b0dcf40 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.4%;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #fff3e2;
  font-weight: bold;
  border: none;
  color: #7b0dcf;
  font-family: "Open Sans";
}

.table tbody tr:nth-child(odd) {
  background-color: #7322b1;
  color: #fff3e2;
}

.table tbody tr:nth-child(even) {
  background-color: #7b0dcf;
  color: #fff3e2;
}

.table tbody {
  font-family: "Roboto Mono";
  font-size: 80%;
}

.table tbody tr:hover {
  background-color: #fa8ee1;
  color: #020025;
}

@media screen and (max-width: 1024px) {
  .all-transactions-btn {
    font-size: 70%;
  }

  .table th {
    font-size: 90%;
  }

  .table tbody {
    font-size: 60%;
  }
}

@media screen and (max-width: 768px) {
  .all-transactions-btn {
    font-size: 50%;
  }

  .table th {
    font-size: 70%;
  }

  .table-container {
    width: 90%;
    height: 90%;
  }

  .table {
    height: 90%;
  }
}

@media screen and (max-width: 567px) {
  .all-transactions-btn {
    font-size: 30%;
  }

  .table th {
    font-size: 70%;
  }

  .table tbody {
    font-size: 55%;
  }

  td:nth-child(4),
  th:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .all-transactions-btn {
    font-size: 20%;
    width: 30%;
  }

  .table-title {
    font-size: 120%;
  }

  .table th {
    font-size: 50%;
  }

  .table tbody {
    font-size: 45%;
  }
}
