@keyframes fadeIn {
    from {
      opacity: 0;
      transform: matrix3d(200);
    }
    to {
      opacity: 1;
      transform: matrix3d(0);
    }
  }

.main-content-dashboard{
    display: grid;
    width: 95%;
    height: 90%;
    background-color: rgba(255, 243, 226, 0);
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 1%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 20px 40px -6px rgba(125, 46, 104, 0.746);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out; 
    animation: fadeIn 0.5s ease-in-out;
}


.main-features{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.balance{
    font-size: 200%;
    color: #7b0dcf;
}

.add-income-dashboard, .add-expense-dashboard{
    font-size: 110%;
    width: 90%;
    height: 40%;
    color: #FFF3E2;
    font-family: 'Montserrat';
    background-color: #7b0dcf;
    border-radius: 100px;
    box-shadow: #7b0dcf33 0 -25px 18px -14px inset,#7b0dcf26 0 1px 2px,#7b0dcf26 0 2px 4px,#7b0dcf26 0 4px 8px,#7b0dcf26 0 8px 16px,#7b0dcf26 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 400;
}

.add-income-dashboard{
    grid-area: 1 / 3 / 2 / 4;
}

.add-expense-dashboard {
    grid-area: 1 / 4 / 2 / 5;
}

.add-income-dashboard:hover, .add-expense-dashboard:hover {
    box-shadow: #7b0dcf59 0 -25px 18px -14px inset,#7b0dcf40 0 1px 2px,#7b0dcf40 0 2px 4px,#7b0dcf40 0 4px 8px,#7b0dcf40 0 8px 16px,#7b0dcf40 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


@media screen and (max-width: 1024px){
    .balance{
        font-size: 120%;
        color: #7b0dcf;
    }

    .add-income-dashboard, .add-expense-dashboard{
        font-size: 80%;
        width: 90%;
        height: 40%;
    }
    
    .main-features{
        grid-template-columns: 4fr 5fr 2fr 2fr;
    }
}

@media screen and (max-width: 450px) {

    .add-income-dashboard, .add-expense-dashboard{
        font-size: 50%;
    }

  }