@keyframes fadeIn {
  from {
    opacity: 0;
    transform: matrix3d(200);
  }
  to {
    opacity: 1;
    transform: matrix3d(0);
  }
}

.reg-nav-bar {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(255, 243, 226, 0.85);
  backdrop-filter: blur(10px);
  height: 95%;
  width: 100%;
  box-shadow: 1px 17px 22px -3px #bbb9bb70;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.reg-budget-buddy {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  font-size: 450%;
  color: #670aad;
  font-family: "Open Sans";
  text-shadow: 5px 1px 5px #670aadbd;
  margin-left: -5%;
}

.reg-logo {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 70%;
  margin-left: 10%;
}

.reg-login-button {
  margin-left: 20%;
}

@media screen and (max-width: 1024px) {
  .reg-nav-bar {
    height: 100%;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    grid-template-rows: 0.15fr 0.1fr 2fr 1fr 0.15fr;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
  }

  .reg-budget-buddy {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    font-size: 450%;
    color: #e74646;
    font-family: "Open Sans";
    text-shadow: 5px 1px 5px rgba(231, 70, 70, 0.74);
    margin-left: -5%;
  }
  .reg-logo {
    display: none;
  }
  .reg-login-button {
    margin-left: 0%;
  }
}
