@keyframes fadeIn {
  from {
    opacity: 0;
    transform: matrix3d(200);
  }
  to {
    opacity: 1;
    transform: matrix3d(0);
  }
}

.formdiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(2em, 1fr));
  align-items: center;
  height: 80%;
  width: 90%;
  background: #670aad;
  backdrop-filter: blur(10px);
  box-shadow: 0 0.1rem 1.5em 0 #670aad;
  border-radius: 0.3rem;
  overflow-wrap: normal;
  transition: all 0.2s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  grid-area: 2/1/3/1;
}

.horizontal-rule {
  width: 90%;
  height: 0.3rem;
  align-items: center;
  background: #fff5ea;
  border: none;
  margin: 1.5rem 0 1rem 0;
  border-radius: 0.8rem;
}

.login-with-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: 3/1/4/1;
}

.login-help-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  grid-area: 4/1/5/1;
}

.main-heading {
  font-size: 500%;
  color: #ffe5ca;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-shadow: 0.1rem 0.05em 0.1em #bbb9bb;
  margin: 3rem 0 2rem 0;
  grid-area: 1 / 1 / 2 / 1;
}

.input {
  background: #fff3e2;
  box-shadow: 0.2rem 0.2rem 0.6em 0 #bbb9bb;
  border-radius: 0.3rem;
  width: 60%;
  height: 5%;
  padding: 1rem;
  border: none;
  outline: none;
  margin: 0.2rem 0 0.5rem 0;
  font-family: "Roboto Mono", monospace;
  font-size: 90%;
  color: #670aad;
}

.input:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #bbb9bb;
  border-radius: 0.4rem;
}

.input::placeholder {
  color: #660aad77;
}

.landing-login-button {
  font-size: 110%;
  width: 50%;
  height: 30%;
  color: #7b0dcf;
  font-family: "Montserrat";
  background-color: #fff5ea;
  border-radius: 100px;
  box-shadow:
    #7b0dcf33 0 -25px 18px -14px inset,
    #7b0dcf26 0 1px 2px,
    #7b0dcf26 0 2px 4px,
    #7b0dcf26 0 4px 8px,
    #7b0dcf26 0 8px 16px,
    #7b0dcf26 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 400;
  margin-top: 0.5rem;
}

.login-option-text {
  margin-top: 10%;
  font-size: 150%;
  color: #fff5ea;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-shadow: 0.2rem 0.05em 0.3em #bbb9bb;
}

.login-form-sub-buttons {
  font-size: 110%;
  width: 45%;
  height: 40%;
  color: #7b0dcf;
  font-family: "Montserrat";
  background-color: #fff5ea;
  border-radius: 100px;
  box-shadow:
    #7b0dcf33 0 -25px 18px -14px inset,
    #7b0dcf26 0 1px 2px,
    #7b0dcf26 0 2px 4px,
    #7b0dcf26 0 4px 8px,
    #7b0dcf26 0 8px 16px,
    #7b0dcf26 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 400;
}

.login-form-sub-buttons:hover {
  box-shadow:
    #7b0dcf59 0 -25px 18px -14px inset,
    #7b0dcf40 0 1px 2px,
    #7b0dcf40 0 2px 4px,
    #7b0dcf40 0 4px 8px,
    #7b0dcf40 0 8px 16px,
    #7b0dcf40 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.landing-login-button:hover {
  box-shadow:
    #7b0dcf59 0 -25px 18px -14px inset,
    #7b0dcf40 0 1px 2px,
    #7b0dcf40 0 2px 4px,
    #7b0dcf40 0 4px 8px,
    #7b0dcf40 0 8px 16px,
    #7b0dcf40 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media only screen and (max-width: 1024px) {
  .formdiv {
    width: 90%;
  }
}
