.edit-inner-table-container{
  height: 30rem !important;
  overflow: auto;
  max-height: 100%;
  padding: 1% !important;
  scrollbar-width: thin; 
  scrollbar-color: #7b0dcf #bbb9bb5a; 
}

.edit-table-container {
  width: 100%;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: 1 / 1 / 2 / 2 !important;
  background-color: #bbb9bb5a;
}
 
.edit-transaction-table-title{
    color: #7b0dcf;
    font-family: 'Open Sans';
    margin-bottom: 1%;
    justify-content: center;
    flex: 2;
}

.edit-transaction-table-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.all-transactions-btn{
  margin-bottom: 1%;
  font-size: 90%;
  width: 15%;
  height: 40%;
  color: #FFF3E2;
  font-family: 'Open Sans', sans-serif;
  background-color: #7b0dcf;
  border-radius: 100px;
  box-shadow: #7b0dcf33 0 -25px 18px -14px inset,#7b0dcf26 0 1px 2px,#7b0dcf26 0 2px 4px,#7b0dcf26 0 4px 8px,#7b0dcf26 0 8px 16px,#7b0dcf26 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all-transactions-btn:hover{
  box-shadow: #7b0dcf59 0 -25px 18px -14px inset,#7b0dcf40 0 1px 2px,#7b0dcf40 0 2px 4px,#7b0dcf40 0 4px 8px,#7b0dcf40 0 8px 16px,#7b0dcf40 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.edit-table-filters{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1%;
}

.edit-table-filters label{
  color: #7b0dcf;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 90%;
}

.edit-table-filters select{
  color: #7b0dcf !important;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 90%;
  border-radius: 5%;
  border: none;
}

.filter-category-dropdown{
  color: #7b0dcf !important;
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
  font-size: 90% !important;
  border-radius: 5% !important;
  border: none !important;
}

.edit-table-container {
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  grid-area: 2 / 1 / 3/ 2;
  background-color: #bbb9bb5a;
}

.edit-table-title{
    color: #7b0dcf;
    font-family: 'Open Sans';
    margin-bottom: 1%;
    justify-content: center;
    flex: 2;
}

.edit-table-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.edit-all-transactions-btn{
  margin-bottom: 1%;
  font-size: 90%;
  width: 15%;
  height: 40%;
  color: #FFF3E2;
  font-family: 'Open Sans', sans-serif;
  background-color: #7b0dcf;
  border-radius: 100px;
  box-shadow: #7b0dcf33 0 -25px 18px -14px inset,#7b0dcf26 0 1px 2px,#7b0dcf26 0 2px 4px,#7b0dcf26 0 4px 8px,#7b0dcf26 0 8px 16px,#7b0dcf26 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all-transactions-btn:hover{
  box-shadow: #7b0dcf59 0 -25px 18px -14px inset,#7b0dcf40 0 1px 2px,#7b0dcf40 0 2px 4px,#7b0dcf40 0 4px 8px,#7b0dcf40 0 8px 16px,#7b0dcf40 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.edit-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .edit-table th,
  .edit-table td {
    padding: 0.4%;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .edit-table th {
    background-color: #FFF3E2;
    font-weight: bold;
    border: none;
    color: #7b0dcf;
    font-family: 'Open Sans';
  }
  
  .edit-table tbody tr:nth-child(odd) {
    background-color: #7322b1;
    color: #FFF3E2;
  }

  .edit-table tbody tr:nth-child(even) {
    background-color: #7b0dcf;
    color: #FFF3E2;
  }
  
  .edit-table tbody{
    font-family: 'Roboto Mono';
    font-size: 80%;
  }

  .edit-table tbody tr:hover {
    background-color: #FA8EE1;
    color: #020025;
  }


  @media screen and (max-width: 1024px){
    .all-transactions-btn{
      font-size: 70%;
    }

    .edit-table th{
      font-size: 90%;
    }

    .edit-table tbody{
      font-size: 60%;
    }
}


@media screen and (max-width: 768px){
  .all-transactions-btn{
    font-size: 50%;
  }

  .edit-table th{
    font-size: 70%;
  }

  .edit-table-container {
    width: 90%;
    height: 90%; 
  }

  .edit-table {
    height: 90%;
  }
}

@media screen and (max-width: 567px) {

  .all-transactions-btn{
    font-size: 30%;
  }

  .edit-table th{
    font-size: 70%;
  }
  
  .edit-table tbody{
    font-size: 55%;
  }

  td:nth-child(4),
  th:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 425px) {

  .all-transactions-btn{
    font-size: 20%;
    width: 30%;
  }

  .edit-table-title{
    font-size: 120%;
}  

  .edit-table th{
    font-size: 50%;
  }
  
  .edit-table tbody{
    font-size: 45%;
  }
}

@media screen and (max-width: 1024px){
    .all-transactions-btn{
      font-size: 70%;
    }
}

@media screen and (max-width: 850px) {
  .all-transactions-btn{
    font-size: 50%;
  }
  
  .edit-transaction-table-container {
    grid-area: 2 / 1 / 3 / 3;
  }

  .inner-table-container{
    height: 20rem !important; 
  }

}

@media screen and (max-width: 567px) {

  .all-transactions-btn{
    font-size: 30%;
  }

}

@media screen and (max-width: 425px) {

  .all-transactions-btn{
    font-size: 20%;
    width: 30%;
  }

}

@media screen and (max-height: 750px) {
  
  .inner-table-container{
    height: 20rem !important; 
  }

}

@media screen and (max-height: 567px) {
  
  .inner-table-container{
    height: 15rem !important; 
  }

}

@media screen and (max-height: 470px) {

  .inner-table-container{
    height: 10rem !important; 
  }

  .edit-transaction-table-container{
    height: 10rem !important; 
  }

}