@keyframes fadeIn {
  from {
    opacity: 0;
    transform: matrix3d(200);
  }
  to {
    opacity: 1;
    transform: matrix3d(0);
  }
}

.MainContent {
  display: grid;
  width: 95%;
  height: 90%;
  background-color: rgba(255, 243, 226, 0);
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 6fr 0.5fr;
  align-items: center;
  justify-items: center;
  padding: 1%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 20px 40px -6px rgba(125, 46, 104, 0.746);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

@media screen and (max-width: 850px) {
  .MainContent {
    height: 100%
  }
}
