@keyframes fadeIn {
    from {
      opacity: 0;
      transform: matrix3d(200);
    }
    to {
      opacity: 1;
      transform: matrix3d(0);
    }
  }
.top-bar-container{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 3fr 10fr 1fr;
    align-items: end;
    animation: fadeIn 0.5s ease-in-out;
}

.page-title{
    color:#670AAD;
    text-shadow: 2px 3px 3px #FA8EE1;
    font-size: 300%;
    font-family: 'Open Sans';
    grid-area: 1/1/2/2;
}

.account-icon{
    justify-content: right;
    font-size: 280%;
    color: #670AAD;
    filter: drop-shadow(3px 3px 2px rgba(250,142,225,1));
    grid-area: 1/3/2/4;
    transition: all 250ms;
}

.account-icon:hover {
    filter: drop-shadow(3px 3px 2px rgba(250,142,225,1));
    transform: scale(1.25) rotate(-10deg);
    filter: none;
}

.account-dropdown{
    grid-area: 1/3/2/4;
    justify-content: left;
}

.account-dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(239, 238, 239, 0.954);
    width: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1% 1% 1%;
    z-index: 1;
    font-size: 100%;
}

.user-account-options{
    color: #670AAD;
    text-decoration: none;
    padding-bottom: 10%;
    font-family: 'Roboto Mono';
}

.user-account-options:hover{
    color: #FA8EE1;
    transform: scale(1.1) skew(-2deg);
}