.confirm-form{
    display: grid;
    margin: 5%;
    width: 80%;
    height: 60%;
    background-color: rgba(255, 243, 226, 0.85);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 2fr 2fr 0.5fr;
    align-items: center;
    justify-items: center;
    padding: 2%;
    border-radius: 3%;
    border-radius: 20px;
    border-left: 1px solid #FFF3E2;
    border-top: 1px solid #FFF3E2;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(125, 46, 104, 0.746);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.form-title{
    font-family: 'Open Sans';
    grid-area: 1/1/2/3;
}

@media screen and (max-width: 1024px){
    .confirm-form{
        height: 90%;
        width: 80%;
    }
}