.nav-bar{
    display: grid;
    width: 95%;
    height: 90%;
    background-color: #670AAD;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav-menu{
    background-color: transparent;
    width: 100%;
}