@keyframes fadeIn {
    from {
      opacity: 0;
      transform: matrix3d(200);
    }
    to {
      opacity: 1;
      transform: matrix3d(0);
    }
  }

.manage-transactions{
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    width: 95%;
    height: 100%;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 2fr 2fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out; 
    animation: fadeIn 0.5s ease-in-out;
}
  
::-webkit-scrollbar {
width: 10px;
background-color: #bbb9bb15; 
}

::-webkit-scrollbar-thumb {
background-color: #FA8EE1; 
border-radius: 5px; 
}

.balance{
    font-size: 200%;
    color: #7b0dcf;
    grid-area: 1 / 2 / 2 / 3;
}

.add-income, .add-expense{
    font-size: 110%;
    width: 90%;
    height: 40%;
    color: #FFF3E2;
    font-family: 'Montserrat';
    background-color: #7b0dcf;
    border-radius: 100px;
    box-shadow: #7b0dcf33 0 -25px 18px -14px inset,#7b0dcf26 0 1px 2px,#7b0dcf26 0 2px 4px,#7b0dcf26 0 4px 8px,#7b0dcf26 0 8px 16px,#7b0dcf26 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 400;
}

.add-income{
    grid-area: 1 / 1 / 2 / 2;
}

.add-expense {
    grid-area: 1 / 2 / 2 / 3;
}

.add-transaction-buttons{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
    width: 100%;
}

.add-income:hover, .add-expense:hover {
    box-shadow: #7b0dcf59 0 -25px 18px -14px inset,#7b0dcf40 0 1px 2px,#7b0dcf40 0 2px 4px,#7b0dcf40 0 4px 8px,#7b0dcf40 0 8px 16px,#7b0dcf40 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


@media screen and (max-width: 1024px){
    .balance{
        font-size: 120%;
        color: #7b0dcf;
    }

    .add-income, .add-expense{
        font-size: 80%;
        width: 90%;
        height: 40%;
    }

}

@media screen and (max-width: 450px) {

    .add-income, .add-expense{
        font-size: 50%;
    }
}

@media screen and (max-width: 850px) {

    .manage-transactions{
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 2fr 5fr;
    }

    .balance{
        font-size: 100%;
        color: #7b0dcf;
        grid-area: 1 / 1 / 2 / 2;
    }
    .add-transaction-buttons{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-area: 1 / 2 / 2 / 3;
        height: 100%;
        width: 100%;
    }
}