
.sign-up-form{
    display: grid;
    width: 30%;
    height: 20%;
    background-color: #E74646;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr;
    align-items: center;
    justify-items: center;
    padding: 2%;
    border-radius: 3%;
    border-radius: 20px;
    border-left: 1px solid #E74646;
    border-top: 1px solid #E74646;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.next-button-1{
    margin-top: 5%;
    grid-area: 6 / 1 / 7 / 3;
    width: 50%;
    height: 150%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffcdc3 0, #7BF1A8 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

.next-button-2{
    grid-area: 4 / 2 / 5 / 3;
    width: 60%;
    height: 80%;
    
}

.next-button-1:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.next-button-1:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.next-button-1:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.previous-button{
    grid-area: 4 / 1 / 5 / 1;
    width: 60%;
    height: 80%;
}
