.TopBar{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(255, 229, 202);
    height: 90%;
    width: 100%;
    box-shadow: 1px 17px 22px -3px rgba(250,152,132,0.44);
    align-items: center;
    justify-content: center;
}

.dollarIcon{
    width: 90%;
    height: 50%;
    margin-left: 10%;
    grid-area: 1 / 1 / 2 / 2;
}

.euroIcon{
    width: 90%;
    height: 50%;
    margin-right: 10%;
    grid-area: 1 / 3 / 2 / 4;
}

.budgetBuddy{
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    font-size: 500%;
    color: #E74646;
    font-family: 'Open Sans';
    text-shadow: 5px 1px 5px rgba(231,70,70,0.74);
}