@keyframes fadeIn {
    from {
      opacity: 0;
      transform: matrix3d(200);
    }
    to {
      opacity: 1;
      transform: matrix3d(0);
    }
  }

.TopBar{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    background-color: #FFF3E2;
    height: 90%;
    width: 100%;
    box-shadow: 1px 10px 22px -3px #670AAD70;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out; 
    animation: fadeIn 0.5s ease-in-out;
}

.dollarIcon{
    width: 90%;
    height: 50%;
    margin-left: 10%;
    grid-area: 1 / 1 / 2 / 2;
}

.euroIcon{
    width: 90%;
    height: 50%;
    margin-right: 10%;
    grid-area: 1 / 3 / 2 / 4;
}

.budgetBuddy{
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    font-size: 500%;
    color: #670AAD;
    font-family: 'Open Sans';
    text-shadow: 5px 1px 5px #660aad6c;
}