
.table {
    width: 110%;
    border-collapse: collapse;
  }
  
.table tbody td:first-child {
  justify-content: center;
  align-items: center;
}

.table th,
.table td {
  padding: 0.4%;
  border: 1px solid #ddd;
  text-align: left;
  padding: 0.5rem;
}

.table th {
  background-color: #FFF3E2;
  font-weight: bold;
  border: none;
  color: #7b0dcf;
  font-family: 'Open Sans';
}

.table tbody tr:nth-child(odd) {
  background-color: #7322b1;
  color: #FFF3E2;
}

.table tbody tr:nth-child(even) {
  background-color: #7b0dcf;
  color: #FFF3E2;
}

.table tbody{
  font-family: 'Roboto Mono';
  font-size: 80%;
  animation: fadeIn 0.5s ease-in-out;
  text-transform: capitalize;
}

.table tbody tr:hover {
  background-color: #FA8EE1;
  color: #020025;
}


.table tbody tr.fade-in {
  opacity: 1;
}

#row-select-box{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0.4rem;
  margin-left: 0rem;
  border-radius: 50%;
  border: 2px solid #FFF3E2;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #FFF3E2;
}

input[type="radio"]:checked::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #FA8EE1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px){

    .table th{
      font-size: 90%;
    }

    .table tbody{
      font-size: 60%;
    }
}


@media screen and (max-width: 768px){
  .table th{
    font-size: 70%;
  }

}

@media screen and (max-width: 567px) {

  .table th{
    font-size: 70%;
  }
  
  .table tbody{
    font-size: 55%;
  }

  td:nth-child(4),
  th:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 425px) {

  .table-title{
    font-size: 120%;
}  

  .table th{
    font-size: 50%;
  }
  
  .table tbody{
    font-size: 45%;
  }
}