.formdiv{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(2em, 1fr));
    align-items : center;
    height: 80%;
    width: 90%;
    background : #E74646;
    box-shadow : 0 0.8rem 3.2em 0  #FA9884;
    border-radius: 0.3rem;
    overflow-wrap: normal;
    grid-area: 2 / 1 / 3 / 2;
    
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
  margin: 0;
  grid-area: 2/1/3/1;
}

.horizontal-rule {
  width: 90%;
  height: 0.3rem;
  align-items: center;
  background: #FFE5CA;
  border: none;
  margin: 1.5rem 0 1rem 0;
  border-radius: 0.8rem;
}

.login-with-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 2rem 0;
  grid-area: 3/1/4/1;
}

.login-help-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  align-items: center;
  width: 100%;
  grid-area: 4/1/5/1;
}

.main-heading{
  font-size: 500%;
  color: #FFE5CA;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: 0.3rem 0.2em 0.2em #FA9884; 
  margin: 3rem 0 2rem 0;
  grid-area: 1 / 1 / 2 / 1; 
}

.input{
  background: #FFE5CA;
  box-shadow: 0.2rem 0.2rem 0.6em 0 #ffc3c3;
  border-radius: 0.3rem;
  width: 60%;
  height: 5%;
  padding: 1rem;
  border: none;
  outline: none;
  margin: 0.2rem 0 0.5rem 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
}

.input:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #ffdd7f;
    border-radius: 0.4rem;
  }

.input::placeholder {
    color: #FA9884;
  }

.login-button{
    height: 4000%;
    width: 65%;
    font-size: 100%;
    color: #FA9884;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background: linear-gradient(45deg, #FFF3E2, #fdd7ae);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0.2rem 0.2rem 0.6em 0 #ffc3c3;
}

.login-button:hover {
    color: #FFF3E2;
    background: #FA9884;
  }

.login-option-text{
  margin-top: 10%;
    font-size: 150%;
    color: #FFE5CA;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 0.2rem 0.1em 0.3em #FA9884; 
  }

.hyperlink{
    font-size: 150%;
    color: #ffdd7f;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 1em;
    text-decoration: underline;
  }

@media only screen and (max-width: 1024px){
    .formdiv{
      width:100%;
    }

  }