@keyframes fadeIn {
  from {
    opacity: 0;
    transform: matrix3d(200);
  }
  to {
    opacity: 1;
    transform: matrix3d(0);
  }
}

.nav-container {
  width: 95%;
  height: 90%;
}

.nav-bar {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #7b0dcf43;
  grid-template-rows: 1fr 6fr 2fr;
  align-items: center;
  justify-items: center;
  border-radius: 2px;
  backdrop-filter: blur(10px);
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-menu {
  display:grid;
  grid-template-rows: 2fr 0.5fr 4fr 0.5fr 3fr;
  background-color: transparent;
  width: 100%;
  grid-area: 2 /1 /3 /2;
  height: 100%;
}

.menu-item {
  color: transparent;
  padding: 2%;
  display: flex;
}

.menu-item:hover {
  background-color: #ffffff;
}

.menu-item:hover .menu-link {
  transform: scale(1.1) skew(6deg);
}

.menu-link {
  color: #670aad;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 250ms;
  font-size: 200%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-link .link-icon {
  margin-right: 3%;
}

.account-bb-logo {
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
  grid-area: 4 / 1/ 5 /2;
}

.active-page {
  color: #ebebeb;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.active-page:hover {
  transform: none;
  color: #ebebeb;
}

.collapsed-icon {
  display: none;
}

.nav-menu hr {
  border: none;
  height: 3px;
  background-color: #670aad;
}

.select-wallet-button{
  font-size: 110%;
  width: 90%;
  height: 40%;
  color: #fff3e2;
  font-family: 'Montserrat', sans-serif;
  background-color: #7b0dcf;
  border-radius: 100px;
  box-shadow:
    #7b0dcf33 0 -25px 18px -14px inset,
    #7b0dcf26 0 1px 2px,
    #7b0dcf26 0 2px 4px,
    #7b0dcf26 0 4px 8px,
    #7b0dcf26 0 8px 16px,
    #7b0dcf26 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 400;
  grid-area: 1 / 1/ 2 /2;

}

.nav-links{
  grid-area: 3 / 1/ 4 /2;
}
@media screen and (max-width: 1440px) {
  .menu-link {
    font-size: 180%;
  }

  #active-page {
    font-size: 180%;
  }
}

@media screen and (max-width: 1350px) {
  .nav-container {
    width: 95%;
    height: 50%;
  }

  .nav-bar {
    width: 95%;
    height: 90%;
  }

  .menu-link {
    font-size: 100%;
  }

  #active-page {
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: center;
  }

  .nav-bar {
    display: none;
    position: fixed;
    margin-top: 10%;
    margin-left: 30%;
    z-index: 1000;
    width: 30%;
    height: 30%;
  }

  .nav-bar.collapsed {
    display: block;
  }

  .collapsed-icon {
    display: flex;
    justify-content: center;
    font-size: 400%;
    color: #7b0dcf;
  }

  .nav-bar.overlay.visible {
    display: block;
  }
}
