@keyframes fadeIn {
  from {
    opacity: 0;
    transform: matrix3d(200);
  }
  to {
    opacity: 1;
    transform: matrix3d(0);
  }
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(187, 185, 187, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

.popup {
  display: grid;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 2fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 2fr;
  background-color: #FFF3E2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 1; 
  z-index: 2;
  width: 50%;
  height: 50%;
  gap: 0.2rem;
  align-items: center;
  justify-items: center;
  animation: fadeIn 0.5s ease-in-out;
}


  #close-btn{
    grid-area: 1 / 3 / 2 / 4;
    background-color: transparent;
    border: none
  }

  #submit-btn {
    grid-area: 8 / 2 / 9 /3;
    font-size: 120%;
    height: 80%;
    width: 60%;
    text-align: center;
    color: #FFF3E2;
    font-family: 'Open Sans', sans-serif;
    background-color: #7b0dcf;
    border-radius: 100px;
    box-shadow: #7b0dcf33 0 -25px 18px -14px inset,#7b0dcf26 0 1px 2px,#7b0dcf26 0 2px 4px,#7b0dcf26 0 4px 8px,#7b0dcf26 0 8px 16px,#7b0dcf26 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submit-btn:hover {
  box-shadow: #7b0dcf59 0 -25px 18px -14px inset,#7b0dcf40 0 1px 2px,#7b0dcf40 0 2px 4px,#7b0dcf40 0 4px 8px,#7b0dcf40 0 8px 16px,#7b0dcf40 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#close-btn:hover{
    transform: scale(1.55) rotate(-5deg);
    color: #BBB9BB;
}

.recurring-radio{
  grid-area: 7/ 2/ 8/ 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-text{
  font-size: 120%;
  font-family: 'Roboto Mono', monospace;
  margin-left: 5%;
  color: #7b0dcf;
  font-weight: 600;
}

.radio-btn{
  font-size: 120%;
  margin-left: 10%;
}

.radio-btn:checked{
  background-color: #7b0dcf;
}

.title{
  font-family: 'Open Sans', sans-serif;
  grid-area: 1 / 2 / 2 / 3;
  color: #7b0dcf;
  text-transform: capitalize;
}

.status-overlay{
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  background-color: #7b0dcf;
  border-radius: 5%;
  padding: 10%;

}

.popup-text{
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 80%;
}

.category-dropdwon{
  background-color : #BBB9BB;
  grid-area: 4 / 2 / 5 / 3;
  font-family: 'Roboto Mono';
  width: 84%;
  height: 85%;
  border: none;
  padding: 2%;
  border-radius: 0.3rem;
  color: #7b0dcf;
}

.category-dropdwon:focus{
  display: inline-block;
  box-shadow : 0 0 0 0.2rem  #7D2E68;
  border-radius: 0.4rem;
}

.category-dropdwon::placeholder{
  color: #7b0dcfa0;
}

@media screen and (max-width: 500px) {

  .title{
    font-size: 150%;
  }

  .recurring-radio{
    font-size: 90%;
  }

  .popup {
    padding: 40px;
  }

  #submit-btn {
    font-size: 100%;
}

}

@media screen and (max-width: 375px) {

  .recurring-radio{
    font-size: 70%;
  }

}