@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Open+Sans:ital,wght@1,800&family=Roboto+Mono&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}